---
---

@import "{{ site.theme }}";

section {
    #title {
        margin: 0;

        h1 {
            text-align: left;
        }

        p {
            text-align: left;
        }
        .credits {
            margin-top: 0;
            float: none;
        }
    }
}

#header {
    height: 30px;
    nav li {
        line-height: 0;
        .fork {
            margin-right: 5px;
        }
        
        a {
            margin: 0;
            line-height: 0;
            box-shadow: none;
            border: none;
        }
        a:hover {
            border: none;
        }
    }
}

hr {
    margin: 0;
}