---
---

@import "{{ site.theme }}";

section {
    #title {
        h1 {
            text-align: left;
        }

        p {
            text-align: left;
        }
        .credits {
            margin-top: 0;
        }
    }
}

#header.nav.fork {
    margin-right: 3em;
}

hr {
    margin-top: 1em;
}