---
---

@import "{{ site.theme }}";

section {
    padding: 0px;
}

section #title {
    margin: 0 0 20px 0;
}
section #title h1 {
    text-align: left;
}

section #title .credits.left {
    margin: 0;
    float: none;
}

hr {
    margin: 27px 0 0 0;
}

footer hr {
    margin-bottom: 27px;
}

footer p {
    font-size: 12px;
}

footer a {
    margin-right: 10px;
}