<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div id="header">
            <nav>
                <li class="fork"><a href="/">home</a></li>
                <li class="fork"><a href="https://naezith.com/?id=contact" target="_blank">contact</a></li>
                <li class="fork"><a href="/atom.xml">rss</a></li>
            </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>{{ site.title }}</h1>
          <span class="credits left">check out &mdash; <a href="https://naezith.com" target="_blank">remnants of naezith</a></span>
          <hr>
        </div>

        {{ content }}

      </section>

    </div>

    {% if site.google_analytics %}
      {% include analytics.html %} 
    {% endif %}

    <!--(add #disqus_thread after url for comment count) script id="dsq-count-scr" src="//naezith.disqus.com/count.js" async></script -->
  </body>
  
  <footer>
		<span>&copy; Tolga Ay 2018</span>
  </footer>
</html>