<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
    <div class="wrapper">

      <section>
        <div id="title">
          <a href="/"><h1>{{ site.title }}</h1></a>
          <hr>
        </div>

        {{ content }}

        <footer>
          <hr>
          <p>&copy; Tolga Ay 2018</p>
          <p class="links"><a href="https://discord.gg/naezith" target="_blank">Remnants of Naezith</a> | <a href="https://discord.gg/naezith" target="_blank">Discord Server</a> | <a href="/atom.xml">RSS</a></p>
        </footer>

      </section>
    </div>

    {% if site.google_analytics %}
      {% include analytics.html %} 
    {% endif %}

    <!--(add #disqus_thread after url for comment count) script id="dsq-count-scr" src="//naezith.disqus.com/count.js" async></script -->
  </body>
</html>